<!doctype html>
<html > 
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Options Calculator</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="{{url_for('static',filename='apple-touch-icon.png')}}">

        <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap-theme.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/main.min.css')}}">

        <script src="{{url_for('static',filename='js/vendor/modernizr-2.8.3-respond-1.4.2.min.js')}}"></script>
    </head>
    <body>
    	{% for message in form.currentStockPrice.errors %}
    		<div>{{ message }}</div>
    	{% endfor %}

    	{% for message in form.riskFreeRate.errors %}
    		<div>{{ message }}</div>
    	{% endfor %}

    	{% for message in form.exercisePrice.errors %}
    		<div>{{ message }}</div>
    	{% endfor %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{url_for('static',filename='js/vendor/modernizr-2.8.3-respond-1.4.2.min.js')}}"><\/script>')</script>

        <script src="{{url_for('static',filename='js/vendor/bootstrap.min.js')}}"></script>

        <script src="{{url_for('static',filename='js/plugins.js')}}"></script>
        <script src="{{url_for('static',filename='js/main.js')}}"></script>

        
        <form action="" method=post onsubmit="displayer()" class="form-control">
        		<table class="table-bordered" style="width: 100%;background-color: green;color: white;">
        			<tr>
        				<th colspan="2" >
        					<legend class="label-default" style="color: cyan;">Form for Option Evaluation</legend>
        					{{ form.hidden_tag() }}
        				</th>
        			</tr>
        			<tr>
        				<td align="right">{{ form.currentStockPrice.label }}</td>
        				<td align="left">{{ form.currentStockPrice}}</td>
        			</tr>
        			<tr>
        				<td align="right">{{ form.riskFreeRate.label }}</td>
        				<td align="left">{{ form.riskFreeRate }}</td>
        			</tr>
        			<tr>
        				<td align="right">{{ form.exercisePrice.label }}</td>
        				<td align="left">{{ form.exercisePrice }}</td>
        			</tr>
        			<tr>
        				<td colspan="2" align="center">{{ form.submit }}</td>
        			</tr>
        		</table>
        		{{filename}}
        </form>
        <script type="text/javascript">
        	function displayer() {
        		document.write('It worked!')
        		        	}
        </script>
    </body>
</html>
