<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html > <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="{{url_for('static',filename='apple-touch-icon.png')}}">

        <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap-theme.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/main.min.css')}}">

        <script src="{{url_for('static',filename='js/vendor/modernizr-2.8.3-respond-1.4.2.min.js')}}"></script>
    </head>
    <body>
    	{% for message in form.currentStockPrice.errors %}
    		<div>{{ message }}</div>
    	{% endfor %}

    	{% for message in form.riskFreeRate.errors %}
    		<div>{{ message }}</div>
    	{% endfor %}

    	{% for message in form.exercisePrice.errors %}
    		<div>{{ message }}</div>
    	{% endfor %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{url_for('static',filename='js/vendor/modernizr-2.8.3-respond-1.4.2.min.js')}}"><\/script>')</script>

        <script src="{{url_for('static',filename='js/vendor/bootstrap.min.js')}}"></script>

        <script src="{{url_for('static',filename='js/plugins.js')}}"></script>
        <script src="{{url_for('static',filename='js/main.js')}}"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <form action="" method=post onsubmit="displayer()">
        	<fieldset>
        		<legend>Form for Option Evaluation</legend>
        		{{ form.hidden_tag() }}
        	
        		<div class="form-control">
        			{{ form.currentStockPrice.label }}<br>
        			{{ form.currentStockPrice}}<br>

        			{{ form.riskFreeRate.label }}<br>
        			{{ form.riskFreeRate }}<br>

        			{{ form.exercisePrice.label }}<br>
        			{{ form.exercisePrice }}<br>

        			{{ form.submit }}
        		</div>
        	</fieldset>
        </form>
        <script type="text/javascript">
        	function displayer() {
        		window.alert('It worked!')
        		        	}
        </script>
    </body>
</html>
