<!doctype html>
<html > 
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Options Calculator</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="{{url_for('static',filename='apple-touch-icon.png')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
        <style>
            body, html {
  				height: 100%;
  				margin: 0;
  				font-family: Arial;
						}

/* Style tab links */
			.tablink {
  				background-color: #555;
 				 color: white;
  				float: left;
  				border: none;
  				outline: none;
  				cursor: pointer;
  				padding: 14px 16px;
  				font-size: 17px;
 				width: 25%;
						}	

			.tablink:hover {
  				background-color: #777;
						}

/* Style the tab content (and add height:100% for full page content) */
			.tabcontent {
  				color: white;
  				display: none;
  				padding: 100px 20px;
  				height: 100%;
						}

			#Home {background-color: red;}
			#Concept {background-color: green;}
			#Contact {background-color: blue;}
			#Future {background-color: orange;}
        </style>
        <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap-theme.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/main.min.css')}}">
        <script type="text/javascript">
        	function openPage(pageName, elmnt, color) {
  // Hide all elements with class="tabcontent" by default */
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Remove the background color of all tablinks/buttons
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].style.backgroundColor = "";
  }

  // Show the specific tab content
  document.getElementById(pageName).style.display = "block";

  // Add the specific color to the button used to open the tab content
  elmnt.style.backgroundColor = color;
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click(); 
        </script>
        <script src="{{url_for('static',filename='js/vendor/modernizr-2.8.3-respond-1.4.2.min.js')}}"></script>
    </head>
    <body>
    	<button class="tablink" onclick="openPage('Home', this, 'red')">Home</button>
		<button class="tablink" onclick="openPage('Concept', this, 'green')" id="defaultOpen">Concepts</button>
		<button class="tablink" onclick="openPage('Future', this, 'orange')">Future Works</button>
		<button class="tablink" onclick="openPage('Contact', this, 'blue')">Contact</button>

		<div id="Home" class="tabcontent">
  			<form action="http://localhost:5000/next" method= "POST" enctype = "multipart/form-data"  class="form-control">
                <table class="table-bordered" style="width: 103%;background-color: red;color: pink;margin-left: -12px; margin-top: -8px;">
                    <tr>
                        <th colspan="2" >
                            <legend class="label-default" style="color: cyan;width: 100%;">Form for Option Evaluation</legend>
                            {{ form.hidden_tag() }}
                        </th>
                    </tr>
                    <tr>
                        <td align="right">{{ form.currentStockPrice.label }}</td>
                        <td align="left" style="color: black;">{{ form.currentStockPrice}}</td>
                    </tr>
                    <tr>
                        <td align="right">{{ form.riskFreeRate.label }}<a href="https://ycharts.com/indicators/10_year_treasury_rate" style="color: white;" target="_blank">(Find it here)</a></td>
                        <td align="left" style="color: black;">{{ form.riskFreeRate }}</td>
                    </tr>
                    <tr>
                        <td align="right">{{ form.exercisePrice.label }}</td>
                        <td align="left" style="color: black;">{{ form.exercisePrice }}</td>
                    </tr>
                    <tr>
                        <td align="right"><b>Enter the uploadable file:</b></td>
                        <td><input type = "file" name = "file" accept=".csv" required="Required field" style="color: black;" /></td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center" style="color: black;">{{ form.submit }}</td>
                    </tr>
                </table>
        </form>
		</div>

		<div id="Concept" class="tabcontent">
  			The financial analysis web application that we have developed will have the following functional abilities:<br>
  				<li>Analyzing csv files containing massive amounts of stock market data on the basis of technical terms used in the data.</li>
  				<li>Using the binomial method of option pricing in order to correctly estimate the standard price for a given stock option.</li>
  				<li>Allowing the user to input data based on either real life, favorable or unfavorable circumstances.</li>
  				<li>Sending the result back to the user securely and discreetly in the for of an email.</li>
		</div>

		

		<div id="Future" class="tabcontent">
			Future Works on this project:
  			<li>Fully implement emails.	</li>	
			<li>Create an API to input certain variables directly.</li>
			<li>Add more animations and decorations to the UI.</li>
		</div>
		<div id="Contact" class="tabcontent">
  			Email:
  			Contact No.:
		</div> 
        {% with messages= get_flashed_messages() %}
            {% if messages: %}
                {% for message in messages:%}
                    <b><h1>{{message}}</h1></b><br>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% for message in form.currentStockPrice.errors %}
            <div>{{ message }}</div>
        {% endfor %}

        {% for message in form.riskFreeRate.errors %}
            <div>{{ message }}</div>
        {% endfor %}

        {% for message in form.exercisePrice.errors %}
            <div>{{ message }}</div>
        {% endfor %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{url_for('static',filename='js/vendor/modernizr-2.8.3-respond-1.4.2.min.js')}}"><\/script>')</script>

        <script src="{{url_for('static',filename='js/vendor/bootstrap.min.js')}}"></script>

        <script src="{{url_for('static',filename='js/plugins.js')}}"></script>
        <script src="{{url_for('static',filename='js/main.js')}}"></script>
        
    </body>
</html>